

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.login-email, .login-password{
    padding-bottom: 15px;
    text-align: center;
    border: none;
}

.login-email input{
    font-size: 18px;
    padding-left: 10px;
    border-radius: 8px;
}

.login-password input{
    font-size: 18px;
    padding-left: 10px;
    border-radius: 8px;
}

.login h1{
    font-size: 35px;
    padding-bottom: 20px;
}

.login h2{
    font-size: 15px;
    text-align: center;
}


.loginbtn{
    margin-top: 10px;
    background-color: rgba(54,15,42);
    color: white ;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.loginbtn:hover {
    background-color: rgb(56, 32, 49);
    color: White;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #360f2a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(54,15,42,0.5);
    margin-top: auto;
}

