    <main>
        <div class="deleteEvent">
            <h1> Delete</h1>
            <form id="editForm" action="/events/delete" method="POST">
                <div class="name">
                    <label for="name"> Name of the Event you want to delete: <br> </label>
                    <input type="text" id="name" name="name" placeholder="Event Name">
                </div>
                <a href="/events/delete"><button class="deleteEvent-btn">Delete</button></a>
            </form>
        </div>
    </main>