    <main>
        <div class="edit">
            <h1> Edit the Event</h1>
            <form id="editForm" action="/events/edit" method="POST">
                <div class="name">
                    <label for="name"> Name of the Event <br> </label>
                    <input type="text" id="name" name="name" placeholder="Event Name">
                </div>
                <div class="description">
                    <label for="description"> Description of the Event <br> </label>
                    <input type="text" id="description" name="description" placeholder="Description">
                </div>
                <div class="picture">
                    <label for="picture"> Picture of the Event <br> </label>
                    <input type="text" id="picture" name="picture" placeholder="Picture Link">
                </div>
                <a href="/events"><button class="edit-btn">Done</button></a>
            </form>
        </div>
    </main>