
        <h1 class="title">
            Οι εκδηλώσεις μας
        </h1>
        <div class="courses">
            <h2>
                <em>Courses</em><button class="Edit">Edit</button><button class="Delete">Delete</button>
            </h2>
            <div class="con-courses">
                <p>Πρόκειται για ένα event διάρκειας 10 ημερών, κατά τη διάρκεια του οποίου φιλοξενούνται στο Πανεπιστήμιο Πατρών 22 φοιτητές – μηχανικοί από όλη την Ευρώπη, ενώ παράλληλα συμμετέχουν και 8 – 10 φοιτητές του Πανεπιστημίου Πατρών. <br><br>Στο διάστημα αυτό διοργανώνονται κοινωνικές δραστηριότητες για τη σύσφιξη των σχέσεων μεταξύ των συμμετεχόντων αλλά και των διοργανωτών.<br><br>Για να δείτε τη λίστα με τα διαθέσιμα courses επισκεφτείτε <a href="https://www.best.eu.org/courses/list.jsp">αυτή τη σελίδα</a>  
                </p>
                <img id="cource-img" src="courses.jpg" alt="Image about Courses">
            </div>
        </div>
        <div class="EBEC">
            <h2>
                <em>EBEC</em><button class="Edit">Edit</button><button class="Delete">Delete</button>
            </h2>
            <div class="con-ebec">
                <p>
                    Ο μεγαλύτερος διαγωνισμός μηχανικής που διοργανώνεται στην Ευρώπη από φοιτητές, για φοιτητές. Ομάδες 4 ατόμων που αποτελούνται από φοιτητές τεχνολογικών επιστημών, καλούνται να λύσουν ένα πρόβλημα μηχανικής φύσεως. Οι ομάδες μπορούν να διαγωνιστούν σε μία από τις εξής κατηγορίες: Innovative Challenge  ή Design Challenge
                </p>
                <img id="ebec-img" src="ebec.jpg" alt="Image about EBEC">
            </div>
        </div>
        <div class="Titan">
            <h2>
                <em>Company Visits</em><button class="Edit">Edit</button><button class="Delete">Delete</button>
            </h2>
            <div class="con-titan">
                <p>Προσφέρεται ακόμα η ευκαιρία στους φοιτητές του Πανεπιστημίου Πατρών να επισκεφθούν τις εγκαταστάσεις κάποιων εκ των συνεργατών μας και να ανακαλύψουν πιθανές ευκαιρίες για πρακτικη άσκηση, καθώς και να δουν πως θα μοιάζει το μελλοντικό εργασιακό τους περιβάλλον.<br><br>Ακόμα με τη βοήθεια ειδικών στους τομείς της τεχνολογίας και της μηχανικής διοργανωνουμε workshops πάνω σε επίκαιρα θέματα που θα τους βοηθήσουν στην επαγγελματική τους σταδιοδρομία!
                </p>
                <img id="titan-img" src="titan.jpg" alt="Image about Company Visits">
            </div>
        </div>
        <button class="Insert">Create a new event</button>
        

