
        <form action="" class="forma melous">
            <h1>Φόρμα Εγγραφής στον Οργανισμό</h1>
            <fieldset class="first">
                <label for="onoma"> Ονοματεπώνυμο <br> </label>
                <input type="text" id="onoma" name="onoma" placeholder="Όνομα" required>
                <input type="text" id="eponymo" name="eponymo" placeholder="Επώνυμο" required>
            </fieldset>
            <fieldset>
                <label for="thl"> Στοιχεία εποικοινωνίας </label>
                <input type="tel" id="thl" name="thl" placeholder="Τηλέφωνο" pattern="[0-9]{10:11}" required>
                <input type="email" id="email" name="email" placeholder="Διεύθυνση email" required>
            </fieldset>
            <fieldset>
                <label for="penepistimio">Διάλεξε το πανεπιστήμιο που σπουδάζεις<br></label>
                <select id="penepistimio" name="penepistimio" required>
                    <option value="papa">Πανεπιστήμιο Πατρών</option>
                    <option value="allopan">Άλλο</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="allop">  Αν έβαλες την επιλογή "Άλλο", πες μας ποιο:<br></label>
                <input type="text" id="allop" name="allo-panep" placeholder="'Αλλο Πανεπιστήμιο">
            </fieldset>
            <fieldset>
                <label for="tmhma">Διάλεξε το Τμήμα σου:<br></label>
                <select id="tmhma" name="tmhma" required>
                    <option value="hmty">Ηλεκτρολόγων Μηχανικών &amp Τεχνολογίας Υπολογιστών</option>
                    <option value="mhx">Μηχανολόγων &amp Αεροναυπηγών Μηχανικών</option>
                    <option value="xhmm">Χημικών Μηχανικών</option>
                    <option value="fys">Φυσικού</option>
                    <option value="geo">Γεωλογίας</option>
                    <option value="allotm">Άλλο</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="allot"> Αν έβαλες την επιλογή "Άλλο", πες μας ποιο:<br></label>
                <input type="text" id="sxolh" name="sxolh" placeholder="Σχολή">
            </fieldset>
            <fieldset class="etos-spoudwn">
                <label for="A">Έτος σπουδών<br></label>
                <input type="radio" name="etos spoudwn" id="A"><label for="A">Α</label>
                <input type="radio" name="etos spoudwn" id="B"><label for="B">Β</label>
                <input type="radio" name="etos spoudwn" id="C"><label for="C">Γ</label>
                <input type="radio" name="etos spoudwn" id="D"><label for="D">Δ</label>
                <input type="radio" name="etos spoudwn" id="E"><label for="E">Ε</label>
                <input type="radio" name="etos spoudwn" id="alloet"><label for="alloet">Άλλο</label>
              </fieldset>
              <input type="submit" value="Υποβολή">
          </form>
    