<main>
    <div class="after-header">
        <button class="btn">Join Us!</button>
        <p id="slogan">"Start the Adventure now"</p>
    </div>



    <div class="about">
        <img class="about-image" src="files\Picture1.jpg" />
        <div class="content">
            <div class="title-container">
                <h1 class="title">About Us</h1>
                <div class="title-line"></div>
            </div>
            <p>BEST (Board of European Students of Technology) is a nonprofit organization, nonrepresentative and nongovernmental, composed by european students from technical degrees.
                Our priority is to encourage the communication, cooperation and scientific and technological development between students from different european universities. We offer the students an additional formation to the one received at their universities, and support with the beginning of their professional careers.</p>    
            <li><a href="AboutUsPage.html">Learn More</a></li>
            </div>
    </div>
<div class="numbers">
    <h1>Our Numbers</h1>
    <div class="wrapper">
        <div class="container">
            <span class="num" data-val="82">000</span>
            <span class="text">European Countries</span>
        </div>
      
        <div class="container">
            <span class="num" data-val="340">000</span>
            <span class="text">Universities</span>
        </div>
      
        <div class="container">
            <span class="num" data-val="55">000</span>
            <span class="text">Volunteers</span>
        </div>
    </div>
</div>

<div class="Our-events">
    <h1>Our Events</h1>
    <div class="events">
        <div class="box">
            <img class="event-image" src="files\Event1.jpg" alt="Event Image">
            <li><a href="#">EBEC</a></li>
        </div>
        <div class="box">
            <img class="event-image" src="files\Event2.jpg" alt="Event Image">
            <li><a href="#">BEST Courses</a></li>
        </div>
        <div class="box">
            <img class="event-image" src="files\Event3.jpg" alt="Event Image">
            <li><a href="#">JobFair</a></li>
        </div>
    </div>
</div>

<div class="Our-partners">
    <h1>Our Partners</h1>
    <div class="partners">
        <img class="partners-image" src="files\misko.png" alt="Partners Image">
        <p class="partners-text">Misko</p>
     </div>
</div>
</main>