
    <login>
        <div class="login">
            <h1> Log In your Account</h1>
            <div class="login-email">
                <input type="text" id="login-email" name="login-email" placeholder="email">
            </div>
            <div class="login-password">
                <input type="text" id="password" name="login-password" placeholder="password">
            </div>
            <h2> Forgot Password?</h2>
            <h2>Don't have an account? Sign Up!</h2>
            <button class="loginbtn">Log In</button>
        </div>
    </login>
