<main>
        <div class="create">
            <h1> Create New Event</h1>
            <form id="createForm" action="/events/insert" method="POST">
                <div class="c-name">
                    <label for="name"> Name of the Event <br> </label>
                    <input type="text" id="name" name="name" placeholder="Event Name" required>
                </div>
                <div class="c-description">
                    <label for="description"> Description of the Event <br> </label>
                    <input type="text" id="description" name="description" placeholder="Description" required>
                </div>
                <div class="c-picture">
                    <label for="picture"> Picture of the Event <br> </label>
                    <input type="text" id="picture" name="picture" placeholder="Picture Link" required>
                </div>
                <div class="create-btn">
                    <input type="submit" value="Create" />
                </div>
        </form>
        </div>
    </main>