
    <signup>
        <h1>Welcome to BEST Patras</h1>
        <h2>Create an Account or log in</h2>
    <div class="sign">
        <div class="info">
            <div class="full-name">
            <div class="name">
                <h3>Name *</h3>
                <input type="text" id="name" name="name" placeholder="Type your Name" required>
            </div>
            <div class="surname">
                <h3>Surname *</h3>
                <input type="text" id="surname" name="surname" placeholder="Type your Surname" required>
            </div>
            </div>
            <div class="contact">
            <div class="email">
                <h3>Email *</h3>
                <input type="email" id="email" name="email" placeholder="Type your Email" required>
            </div>
            <div class="phone">
                <h3>Phone Number *</h3>
                <input type="tel" id="phone" name="phone" placeholder="Type your Phone Number" maxlength="10" required>
            </div>
            </div>
            <div class="uni">
            <h3>Feild of Studies in University of Patras *</h3>
            <input type="text" id="field-of-studies" name="field-of-studies" placeholder="Type your Feild of Studies" required>
            </div>
            <div class="crt-password">
            <div class="password">
                <h3>Password *</h3>
                <input type="password" id="password" name="password" placeholder="Create a Password" required>
                <button type="button" class="toggle-password">Show</button>
            </div>
            <div class="rpt-password">
                <h3>Repeat Password *</h3>
                <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat your Password" required>
                <button type="button" class="toggle-password">Show</button>
            </div>
            </div>
        </div>
        <div class="accept">
            <h2>By signing up you agree to our terms &amp privacy conditions</h2>
            <button id="sign-up-button" class="btn btn-success" disabled>Sign Up</button>
            <div id="password-mismatch" class="error-message">Passwords do not match</div>
        </div>
    </div>
    </signup>
